<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>HOPE 2.0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h2>Contato</h2>
	
	<!-- Notes in a List -->
	<p>Endereço: Rod. Bernardo Sayão, 19 - Bairro do Uriboca, Ananindeua - PA, 67200-000</p>
	<p>Telefone: (91) 98197-1595</p>
	<ion-item-group>
	  <ion-item-divider>
	    <ion-label>Diretoria</ion-label>
	  </ion-item-divider>

	  <ion-item>
	    <ion-label>Evelyn Ribeiro</ion-label>
	  </ion-item>
	  <ion-item>
	    <ion-label>Liana</ion-label>
	  </ion-item>
	  <ion-item>
	    <ion-label>Marcos</ion-label>
	  </ion-item>
	  <ion-item>
	    <ion-label>Mylene</ion-label>
	  </ion-item>
	  <ion-item>
	    <ion-label>Wesin Ribeiro</ion-label>
	  </ion-item>
	</ion-item-group>
</ion-content>
