<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HOPE 2.0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h2>Contato</h2>
	<p>Endereço: Rod. Bernardo Sayão, 19 - Bairro do Uriboca, Ananindeua - PA, 67200-000</p>
	<p>Telefone: (91) 98210-5466</p>
	<p>Instagram: @_ministeriohope</p>
	<p>Facebook: @ministeriojovemhope</p>
	<ion-item-group>
	  <ion-item-divider>
	    <ion-label>Diretora:</ion-label>
	  </ion-item-divider>

	  <ion-item>
	    <ion-label>Evelyn Ribeiro</ion-label>
	  </ion-item>
	  
	</ion-item-group>

	<h2>Sobre</h2>
	
	<!-- Notes in a List -->
	<p>HOPE significa esperança em inglês, mas também representa um acrônimo usando as iniciais das palavras Honra, Oração, Poder e Evangelismo. Essas palavras constituem os pilares desse ministério.</p>
</ion-content>
