<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>HOPE 2.0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<h2>Sorteio Virtual</h2>
	<ion-item>
		<ion-label position="floating">Menor valor</ion-label>
		<ion-input type="number" [(ngModel)]="low"></ion-input>		
	</ion-item>
	<ion-item>
		<ion-label position="floating">Maior valor</ion-label>
		<ion-input type="number" [(ngModel)]="high"></ion-input>		
	</ion-item>

	<ion-button color="primary" expand="full" (click)=startSort() *ngIf="low && high">Sortear</ion-button>
	<ion-button color="danger" expand="full" (click)=resetSort() *ngIf="rand">Resetar</ion-button>
	<h1 class="result">{{rand}}</h1>

	<ion-chip *ngFor="let item of numbers">
			<ion-label>{{item}}</ion-label>
	</ion-chip>	
	
	

</ion-content>
