<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="repertorio">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Músicas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agenda">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mais">
      <ion-icon name="more"></ion-icon>
      <ion-label>Mais</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>