<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>HOPE 2.0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<!-- List of Text Items -->
	<ion-searchbar showCancelButton cancelButtonText="Custom Cancel" (ionChange) = getFilter($event) (ionClear)=getCleared() id="searchText"></ion-searchbar>
	<ion-list>
	  <ion-item (click)="getRepertorio(article)" *ngFor="let article of filtredData?.articles">
	    <ion-label>{{article.title}}</ion-label>
	  </ion-item>
	  
	</ion-list>
</ion-content>
