<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HOPE 2.0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card color='primary'>
	   <ion-card-header>
	   	<ion-card-title>
		   	Bandeira JA
	   	</ion-card-title>
	   </ion-card-header>
	   <ion-card-content>
	   	Branco siginifica pureza <br>
	   	Vermelho significa redenção <br>
	   	Amarelo significa execelência de caráter <br>
	   	Azul significa lealdade/obediência
	   	   
	   </ion-card-content>
	   

	</ion-card>
	<ion-card color='primary'>
	   <ion-card-header>
	   	<ion-card-title>
		   	Símbolo JA
	   	</ion-card-title>
	   </ion-card-header>
	     <ion-card-content>
	     	O mundo representa nossa missão<br>
	     	Os três anjos representam a tríplice mensagem angélica<br>
	     	A cruz é o centro da mensagem<br>
        	<p>Significado:</p>
        	<p>
        		Através da cruz de Cristo, os Jovens Adventistas levam as três mensagens angélicas de Apocalipse 14 ao mundo.
        	</p>
        </ion-card-content>
	</ion-card>
		<ion-card color='primary'>
		   <ion-card-header>
		   	<ion-card-title>
			   	Posição Maranata
		   	</ion-card-title>
		   </ion-card-header>
	        <ion-card-content>
	        	<p>Mão direita a altura do rosto, com os quatro dedos unidos e o dedão virado para dentro.</p>
	        	<p>Significado:</p>
	        	<p>
	        		Os quatro dedos são os quatro "As" da palavra MARANATA: Amar,Anunciar,Apressar e Aguardar (a volta de Jesus). O polegar voltado para o centro da mão é a posição de joelhos demonstrando humildade.
	        	</p>
	        </ion-card-content>
		</ion-card>
</ion-content>
