ion-toolbar{
    --background: #fff url('../../assets/top.jpg') no-repeat center center / cover;
}

ion-card{
    --background: #ff0000;
    --color: #000000;
}

ion-card-title{
    --color: #000000;
}