<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding >
	<h2>Roleta Virtual</h2>
	<ng-container *ngIf="!options || options.length == 0">
		<ion-item lines="none">
			<ion-label position="floating">Valores para a roleta</ion-label>
			<ion-textarea rows="6" placeholder="adicione os valores separados por vírgula" [(ngModel)]="valores"></ion-textarea>
		</ion-item>
		<ion-button color="success" size="small" (click)="addValue(valores)">Iniciar roleta</ion-button>
	</ng-container>
	<div class="ion-canvas" (click)="spin()">
		  <canvas #canvas></canvas>
	</div>
	<ion-button color="primary" expand="full" (click)="spin()" *ngIf="options">Girar roleta</ion-button>
	<ion-button color="danger" expand="full" (click)="deleteRoulete()" *ngIf="options">Recomeçar</ion-button>

</ion-content>
