<ion-header>
  <ion-toolbar>
    <ion-title>{{article.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<!--
	<ion-card>
	   
	    <ion-card-content>
	        <p>{{article.description}}</p>
	        <p>{{article.content}}</p>
	    	<ion-button size="small" href='/tabs/repertorio'>Voltar</ion-button>
	    </ion-card-content>

	</ion-card>
	-->
	<ion-text>
	    <p>{{article.description}}</p>
	    <p>{{article.content}}</p>
		<ion-button size="small" href='/tabs/repertorio'>Voltar</ion-button>
	</ion-text>

</ion-content>
