<ion-header>
  <ion-toolbar>
    <ion-title>Ideais Jovens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card color='primary'>
	   <ion-card-header>
	   	<ion-card-title>
		   	Voto Jovem
	   	</ion-card-title>
	   </ion-card-header>
	    <ion-card-content>
    		<p>Por amor ao Senhor Jesus, prometo tomar parte ativo nos deveres do Ministério Jovem, fazendo tudo quanto puder para ajudar a outros, e para terminar a obra do evangelho em todo o mundo.</p>
	    </ion-card-content>

	</ion-card>

	<ion-card color='primary'>
	   <ion-card-header>
	   	<ion-card-title>
		   	Voto à Bíblia
	   	</ion-card-title>
	   </ion-card-header>
	    <ion-card-content>
    		<p>Prometo fidelidade a Bíblia, à sua mensagem de um salvador, ressureto, prestes a vir, doador de vida e liberdade a todos os que Nele crêem.</p>
	    </ion-card-content>

	</ion-card>

	<ion-card color='primary'>
	   <ion-card-header>
	   	<ion-card-title>
		   	Alvo
	   	</ion-card-title>
	   </ion-card-header>
	    <ion-card-content>
    		<p>A mensagem do advento a todo mundo em minha geração.</p>
	    </ion-card-content>

	</ion-card>

	<ion-card color='primary'>
	   <ion-card-header>
	   	<ion-card-title>
		   	Lema
	   	</ion-card-title>
	   </ion-card-header>
	    <ion-card-content>
    		<p>O amor de Cristo me motiva.</p>
	    </ion-card-content>

	</ion-card>

	<ion-card color='primary'>
	   <ion-card-header>
	   	<ion-card-title>
		   	Objetivo
	   	</ion-card-title>
	   </ion-card-header>
	    <ion-card-content>
    		<p>Salvar do pecado e guiar no serviço.</p>
	    </ion-card-content>

	</ion-card>

	<ion-card color='primary'>
	   <ion-card-header>
	   	<ion-card-title>
		   	Propósito
	   	</ion-card-title>
	   </ion-card-header>
	    <ion-card-content>
    		<p>Os jovens pelos jovens, os jovens pela igreja, os jovens pelos seus semelhantes.</p>
	    </ion-card-content>

	</ion-card>


</ion-content>
