<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      HOPE 2.0
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card class="welcome-card">
        <ion-img src="/assets/LOGO_HOPE_peq.png"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Somos tuas mãos</ion-card-subtitle>
          <ion-card-title>HOPE 2.0</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Apliativo móvel oficial do Ministério HOPE</p>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img src="/assets/somostuasmaos.jpg"></ion-img>
            </ion-col>
            <ion-col>
              <ion-img src="/assets/logo-ja.png"></ion-img>
            </ion-col>
            <ion-col>
              <ion-img src="/assets/dna.jpeg"></ion-img>
            </ion-col>
            <ion-col>
              <ion-img src="/assets/cultojovem.jpg"></ion-img>
            </ion-col>
            <ion-col>
              <ion-img src="/assets/logo-calebe.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        </ion-card-content>
      </ion-card>

      

    
</ion-content>
