<ion-header>
    <ion-toolbar>

    </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card class="welcome-card">
        <ion-img src="/assets/logo_hope.png"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Tudo por Ele</ion-card-subtitle>
          <ion-card-title>HOPE 2.0</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Apliativo móvel oficial do Ministério HOPE</p>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-img src="/assets/rota220.jpg"></ion-img>
            </ion-col>
            <ion-col>
              <ion-img src="/assets/logo-ja.png"></ion-img>
            </ion-col>
            <ion-col>
              <ion-img src="/assets/dna.jpeg"></ion-img>
            </ion-col>
            <ion-col>
              <ion-img src="/assets/cultojovem.jpg"></ion-img>
            </ion-col>
            <ion-col>
              <ion-img src="/assets/logo-calebe.png"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        </ion-card-content>
      </ion-card>

      

    
</ion-content>
