<ion-header>
  <ion-toolbar>
    <ion-title>
      Hope 2.0
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card class="welcome-card">
        <ion-img src="/assets/LOGO_HOPE_peq.png"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Seja bem vindo!</ion-card-subtitle>
          <ion-card-title>HOPE 2.0</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Apliativo móvel oficial do Ministério HOPE</p>
        </ion-card-content>
      </ion-card>

      <ion-list lines="none">
        <ion-list-header>
          <ion-label>Apoio</ion-label>
        </ion-list-header>
        <ion-item href="http://novotempo.com/">
          <ion-icon slot="start" color="medium" name="link"></ion-icon>
          <ion-label>Novo tempo</ion-label>
        </ion-item>
        <ion-item href="http://unb.adventistas.org/">
          <ion-icon slot="start" color="medium" name="link"></ion-icon>
          <ion-label>União Norte Brasileira</ion-label>
        </ion-item>
        <ion-item href="http://anpa.adventistas.org/">
          <ion-icon slot="start" color="medium" name="link"></ion-icon>
          <ion-label>Anpa</ion-label>
        </ion-item>
        <ion-item href="https://www.adventistas.org/pt/institucional/crencas/">
          <ion-icon slot="start" color="medium" name="link"></ion-icon>
          <ion-label>Nisto cremos</ion-label>
        </ion-item>

        <ion-item href="https://www.adventistas.org/pt/institucional/crencas/">
          <ion-icon slot="start" color="medium" name="link"></ion-icon>
          <ion-label>Profecias bíblicas</ion-label>
        </ion-item>

      </ion-list>
</ion-content>
